html {
    background-color: white;
    background-image: url(polytech.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 600px;
    margin-left: 50px;
}

button {
    background-color: Transparent;
    border: none;
}

img {
  height: 100%;
  width: 100%;
  background-color: Transparent;
  border: none;
}

p {
  margin-left: 15px;
  margin-top: 4px;
}

progress {
  margin-left: 10px;
  margin-top: -20px;
  width: 270px;
}

footer {

  background-color: white;
  min-width: 500px;
  min-height: 1px;
  margin-top: 550px;
  margin-left: -50px;
  background-color: white;
  border: 3px solid grey;
}

#userName {
  margin-left: 900px;
  margin-top: -124px;
  height: 35px;
  width: 286px;
  background-color: white;
  border-radius: 30px;
  font-family: Comic Sans MS, sans-serif;
  font-size: 1.3em;
}

#student {
  margin-top: -3px;
  height: 140px;
  width: 150px;
}

#sideboard {
  margin-top: 0px;
  margin-left: 750px;
  margin-top: 20px;
  border: 2px dotted silver;
  height: 130px;
  width: 450px;
  background-color: #CBBDBD;
  border-radius: 30px;
}

.sign:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#sign1 {
  top: 270px;
  left: 200px;
}

#sign2 {
  top: 380px;
  left: 350px;
}

#sign3 {
  top: 200px;
  left: 350px;
}

#sign4 {
  top: 380px;
  left: 760px;
}

#sign5 {
  top: 210px;
  left: 500px;
}

.sign {
  max-width: 70px;
  max-height: 70px;
  position: absolute;
}

.lead {
  max-width: 70px;
  max-height: 70px;
  position: absolute;
}

#lead {
  top: 10px;
  left: 10px;
}
