html {
    background-color: white;
	margin-left: 0px;
    background-image: url(polytech.png);
    background-repeat: no-repeat;
    background-size: 1280px 672px;
}

button {
    background-color: Transparent;
    border: none;
    outline: none;
}

img {
  height: 100%;
  width: 100%;
  background-color: Transparent;
  border: none;
}

p {
  margin-left: 15px;
  margin-top: 4px;
}

progress {
  margin-top: -2px;
  margin-left: 10px;
  width: 270px;
  position: absolute;
}

footer {
  background-color: white;
  width: 1322px;
  min-height: 7px;
  margin-top: 510px;
  margin-left: -50px;
  background-color: grey;
  position: absolute;
}

a {
  color: blue;
}

a:active,
a:hover {
  color: green;
}

.popup {
  display: none;
  position: fixed;
  background-color: green;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.popup-header {
  border-radius: 7px;

  background-color: green;
  color: white;
  display: flex;
  padding: 2px 16px;
}

.popup-body {
  border-radius: 10px;

  padding: 2px 16px;
  font-family: Comic Sans MS, sans-serif;
}

.popup-footer {
  border-radius: 10px;

  max-height: 30px;
  padding: 3px 16px;
  background-color: green;
  color: white;
}

.popup-content {
  border-radius: 10px;
  top: 30%;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  max-width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#userName {
  margin-left: 950px;
  margin-top: -124px;
  height: 35px;
  width: 286px;
  background-color: white;
  border-radius: 30px;
  font-family: Comic Sans MS, sans-serif;
  font-size: 1.3em;
  position: absolute;
}

#student {
  margin-top: -3px;
  height: 140px;
  width: 150px;
  position: absolute;
}

#sideboard {
  margin-top: 0px;
  margin-left: 800px;
  margin-top: 20px;
  border: 2px dotted silver;
  height: 130px;
  width: 450px;
  background-color: #CBBDBD;
  border-radius: 30px;
}

#menu {
  margin-left: -30px;
  margin-top: -150px;
  border: 2px dotted silver;
  height: 300px;
  width: 120px;
  background-color: #CBBDBD;
  border-radius: 30px;
  position: absolute;
}

.sign:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  position: absolute;
}

#sign1 {
  top: 220px;
  left: 918px;
  position: absolute;
}

#sign2 {
  top: 380px;
  left: 350px;
  position: absolute;
}

#sign3 {
  top: 200px;
  left: 350px;
  position: absolute;
}

#sign4 {
  top: 380px;
  left: 760px;
  position: absolute;
}

#sign5 {
  top: 210px;
  left: 500px;
  position: absolute;
}

.sign {
  max-width: 70px;
  max-height: 70px;
  position: absolute;
  opacity: 1;
}

.on-hover{
	width: 80px;
	height: 80px;
	text-align:center;
	margin-top: 10px;
  	margin-left: 2px;
	position: absolute;
}

.hidden-block{
	width:300px;
	height:300px;
	background:#2BA2DB;
	color:#fff;
	font-size:25px;
	border:3px solid #2BA2DB;
	padding:20px;
	margin-top: 160px;
	margin-left: -3px;
	text-align:center;
	opacity:0;
	transition: 0.5s;
	border-radius: 30px;
	position: absolute;
}

.on-hover:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
 	transform: scale(1.2);
	position: absolute;
}

.on-hover:hover+.hidden-block{
	opacity:1;
	transition: 0.5s;
}

#lead {
  top: 25px;
  left: 6px;
}

.profile {
  max-width: 90px;
  max-height: 90px;
  position: absolute;
}

.profile:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  position: absolute;
}

#profile {
  top: 115px;
  left: 6px;
}

.map {
  max-width: 90px;
  max-height: 90px;
  position: absolute;
}

.map:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  position: absolute;
}

#map {
  top: 193px;
  left: 6px;
  position: absolute;
}

#lvl {
  margin-left: 950px;
  margin-top: -40px;
  height: 35px;
  width: 125px;
  background-color: white;
  border-radius: 30px;
  font-family: Comic Sans MS, sans-serif;
  font-size: 1.3em;
  position: absolute;
}

#leader {
  background-color: white;
  border-radius: 10px;
  height: 50;
  width: 300px;
}

#leadtext {
  color: black;
  font-family: Comic Sans MS, sans-serif;
}

#leadtable {
  border-radius: 10px;
  background-color: white;
  height: 235px;
  width: 300px;
}
