html {
    background-color: white;
    background-image: url(polytech.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

button {
    background-color: Transparent;
    border: none;
}
img {
  height: 100%;
  width: 100%;
}

.sign {
  max-width: 140px;
  max-height: 140px;
}
